.Btn {
  padding: 12px;
  background: black;
  color: wheat;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 17px;
}

.Btn:hover {
  background: rgb(8, 29, 218);
  cursor: pointer;
  border-color: rgb(7, 25, 184);
}
