.Cube-black {
  border: 1px solid black;
  width: 44px;
  height: 44px;
  margin: 2px;
  background: black;
  color: black;
}

.Cube-black:hover {
  background: blue;
  color: blue;
  border: 1px solid blue;
}

.Cube-red {
  background: red;
  border: 1px solid black;
  width: 44px;
  height: 44px;
  margin: 2px;
  color: aqua;
}

.Winner {
  width: 100%;
  height: 150px;
  margin: 8px;
  padding-top: 75px;
  font-size: 25px;
  font-weight: bold;
  background: #cccccc;
  color: black;
  border: 3px solid black;
}
